@import url("https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background: #2c1f0e;

  color: #e8d5a3;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}
dl,
dt,
dd {
  margin: 0;
  padding: 0;
}
img {
  display: block;
  height: auto;
}
figure {
  margin: 0;
  padding: 0;
  border: 0;
}
.list {
  list-style: none;
}

button,
a {
  cursor: pointer;
}

.button:hover {
  scale: 120%;
}

.p-l-header.is-open .p-l-header-background {
  left: 0;
}
.p-l-header-button-wrapper {
  margin-left: auto;
}
.p-l-header-icon {
  display: none;
}

.p-l-header-icon-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: transparent;
  border: none;
  border-radius: 50%;
}
.p-l-navigation-list.is-open {
  right: 0;
}
.p-l-header-icon-menu {
  display: block;
}

.p-l-header-icon-button.is-open .p-l-header-icon-menu {
  display: none;
}

.p-l-header-icon-button.is-open .p-l-header-icon-close {
  display: block;
}

.p-l-header {
  position: fixed;
  width: 100%;
  z-index: 5;
  transition: background-color 0.3s ease;
  background: transparent;
  display: flex;
  height: 80px;
  background: #1a1410;
}

.p-l-header-background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 100%;
  z-index: -1;
  transition: left 0.3s ease;
  background: #1a1410;
}
.p-l-header.is-open .p-l-header-background {
  left: 0;
}
.p-l-header-button-wrapper {
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.p-l-header-icon-menu {
  display: block;
}

.p-l-header-icon-button.is-open .p-l-header-icon-menu {
  display: none;
}

.p-l-header-icon-button.is-open .p-l-header-icon-close {
  display: block;
}

.p-l-navigation {
  display: -ms-flexbox;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 8px 16px;
  position: relative;
}

.p-l-navigation-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 100%;
  right: -100%;
  width: 100%;
  height: auto;
  transition: 0.3s;
  z-index: 999;

  border-radius: 16px;

  padding-top: 16px;
  padding-bottom: 60px;

  gap: 28px;
  background: #1a1410;
}

.p-l-navigation-list.is-open {
  right: 0;
}

.p-l-navigation-link {
  transition: all 0.3s ease-in-out;
  text-decoration: none;
  color: #e8d5a3;
  font-family: Lato;
  font-weight: 700;
  font-style: Bold;
  font-size: 24px;
  leading-trim: NONE;
  line-height: 130%;
  letter-spacing: 0%;
}

.p-l-navigation-link:hover,
.p-l-navigatioт-link:focus {
  color: #c8a96e;
}

.p-l-header.is-open {
  background-color: transparent;
}

.p-l-navigation-img {
  display: none;
}

@media screen and (min-width: 1204px) {
  .p-l-navigation-img {
    display: block;
    margin-right: 610px;
  }
  .p-l-policy-terms-header-icon-menu {
    display: none;
  }
  .p-l-header-button-wrapper {
    display: none;
  }
  .p-l-header {
    width: 100%;
    height: 60px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
  }

  .p-l-header-icon-button {
    display: none;
  }
  .p-l-navigation {
    display: flex;
    flex-direction: row;
    flex: 1;
    padding: 0;
    width: 1440px;
    padding: 0 0px;
    margin: auto;
  }

  .p-l-navigation-list {
    background-color: transparent;
    flex-direction: row;
    display: flex;
    position: static;
    width: 1440px;
    margin: auto;
    padding-block: 0;
    flex: 1;
    gap: 30px;
    height: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
    padding: 0;
  }

  .p-l-navigation-link {
    font-family: Lato;
    font-weight: 400;
    font-style: Regular;
    font-size: 18px;
    leading-trim: NONE;
    line-height: 150%;
    letter-spacing: 0%;
  }

  .p-l-navigation-item-desk {
    display: none;
  }
}
.p-l-home {
  width: 375px;
  height: 812px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  background-image: url("/img/Hero.png");

  margin: auto;
}
.p-l-home-container {
  width: 375px;
  padding: 100px 16px 0px;
  margin: auto;
}
.p-l-home-title {
  font-family: Cinzel Decorative;
  font-weight: 700;
  font-style: Bold;
  font-size: 70px;
  leading-trim: NONE;
  line-height: 120%;
  letter-spacing: 0%;
}
.p-l-home-text {
  font-family: Lato;
  font-weight: 700;
  font-style: Bold;
  font-size: 24px;
  leading-trim: NONE;
  line-height: 130%;
  letter-spacing: 0%;

  padding: 24px 0 8px;
}
.p-l-home-text-two {
  font-family: Lato;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;
}
@media screen and (min-width: 1204px) {
  .p-l-home {
    width: auto;
    height: 759px;
    background-image: url("/img/Hero\ \(1\).png");

    margin: auto;
  }
  .p-l-home-container {
    width: 1440px;
    padding: 120px 736px 0px 160px;
    margin: auto;
  }

  .p-l-home-title {
    font-family: Cinzel Decorative;
    font-weight: 700;
    font-style: Bold;
    font-size: 128px;
    leading-trim: NONE;
    line-height: 120%;
    letter-spacing: 0%;
  }

  .p-l-home-text {
    font-family: Lato;
    font-weight: 700;
    font-style: Bold;
    font-size: 28px;
    leading-trim: NONE;
    line-height: 130%;
    letter-spacing: 0%;

    padding: 36px 0px 16px;
  }
  .p-l-home-text-two {
    font-family: Lato;
    font-weight: 400;
    font-style: Regular;
    font-size: 18px;
    leading-trim: NONE;
    line-height: 150%;
    letter-spacing: 0%;
  }
}

.p-l-about-container {
  width: 375px;
  height: 1170px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  background-image: url("/img/Features.png");
  padding: 60px 16px 0px;
  margin: auto;
}
.p-l-about-title {
  font-family: Cinzel Decorative;
  font-weight: 700;
  font-style: Bold;
  font-size: 40px;
  leading-trim: NONE;
  line-height: 120%;
  letter-spacing: 0%;
  text-align: center;
}
.p-l-about-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding-top: 48px;
}
.p-l-about-list-two {
  padding-top: 255px;
}
.p-l-about-text {
  font-family: Lato;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 18px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;
  color: #c8a96e;
}

.p-l-about-text-bold {
  font-family: Lato;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;

  padding-top: 8px;
}

@media screen and (min-width: 1204px) {
  .p-l-about-container {
    width: 1440px;
    height: 926px;
    padding: 80px 160px;
    background-image: url("/img/Features\ \(1\).png");
  }
  .p-l-about-title {
    font-family: Cinzel Decorative;
    font-weight: 700;
    font-style: Bold;
    font-size: 52px;
    leading-trim: NONE;
    line-height: 120%;
    letter-spacing: 0%;
  }
  .p-l-about-list {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding-top: 85px;
    width: 536px;
  }
  .p-l-about-list-two {
    padding-top: 87px;
    margin-left: auto;
  }
  .p-l-about-text {
    font-family: Lato;
    font-weight: 600;
    font-style: SemiBold;
    font-size: 20px;
    leading-trim: NONE;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: left;
  }

  .p-l-about-text-bold {
    font-family: Lato;
    font-weight: 400;
    font-style: Regular;
    font-size: 18px;
    leading-trim: NONE;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: left;
  }
}

.p-l-why-container {
  width: 375px;
  margin: auto;

  padding: 60px 16px;
}
.p-l-why-list {
  padding-top: 48px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.p-l-why-item {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.p-l-why-text-bold {
  width: 343px;
  height: 191.44186401367188px;

  border-radius: 4px;
}
.p-l-why-text {
  color: #c8a96e;
  font-family: Lato;
  font-weight: 700;
  font-style: Bold;
  font-size: 24px;
  leading-trim: NONE;
  line-height: 130%;
  letter-spacing: 0%;
  text-align: center;
}
.p-l-why-text-two {
  font-family: Lato;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;
}

@media screen and (min-width: 1204px) {
  .p-l-why-container {
    width: 1440px;

    padding: 80px 160px;
  }
  .p-l-why-list {
    padding-top: 64px;
    flex-direction: row;
  }

  .p-l-why-text {
    font-family: Lato;
    font-weight: 700;
    font-style: Bold;
    font-size: 28px;
    leading-trim: NONE;
    line-height: 130%;
    letter-spacing: 0%;
    text-align: center;
  }
  .p-l-why-text-bold {
    width: 352px;
    height: 196px;
  }
  .p-l-why-text-two {
    font-family: Lato;
    font-weight: 400;
    font-style: Regular;
    font-size: 18px;
    leading-trim: NONE;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: center;

    width: 340px;
    margin: auto;
  }
}

.p-l-reviews-container {
  margin: auto;
  padding: 60px 16px;
  width: 375px;
}
.p-l-reviews-list {
  padding-top: 48px;
}

.p-l-reviews-item {
  margin: 0 8px auto;
  border: 1px solid #7b4f2e;
  width: 300px;
  background: #1a1410;

  padding: 16px;

  border-radius: 4px;
}

.p-l-reviews-img {
  height: 18px;
}
.p-l-reviews-text-bold {
  font-family: Lato;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;

  padding: 8px 0;
}

.p-l-reviews-text {
  font-family: Lato;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 18px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: right;

  color: #c8a96e;
}

@media screen and (min-width: 1204px) {
  .p-l-reviews-container {
    margin: auto;
    padding: 80px 160px;
    width: 1440px;
  }
  .p-l-reviews-list {
    padding-top: 64px;
  }

  .p-l-reviews-item {
    margin: 0 16px auto;
    width: 352px;
  }

  .p-l-reviews-text-bold {
    font-family: Lato;
    font-weight: 400;
    font-style: Regular;
    font-size: 18px;
    leading-trim: NONE;
    line-height: 150%;
    letter-spacing: 0%;
  }

  .p-l-reviews-text {
    font-family: Lato;
    font-weight: 600;
    font-style: SemiBold;
    font-size: 20px;
    leading-trim: NONE;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: right;
  }
}

.p-l-faq-container {
  padding: 60px 16px;
  width: 375px;
  margin: auto;
}
.p-l-faq-list {
  padding-top: 48px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.p-l-faq-item {
  padding-bottom: 16px;
  border-bottom: 1px solid#7B4F2E;
}

.p-l-faq-question {
  display: flex;
  align-items: start;
  justify-content: space-between;
  font-family: Lato;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 18px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;
  color: #c8a96e;
}

.p-l-faq-answer {
  font-family: Lato;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;
}
.p-l-toggle-button {
  background: none;
  border: none;
  cursor: pointer;
}

.p-l-toggle-button img {
  width: 28px;
  transition: transform 0.3s ease;
}
.p-l-faq-answer {
  max-height: 0;
  overflow: hidden;
  transition:
    max-height 0.4s ease,
    opacity 0.4s ease;
  opacity: 0;
}

.p-l-faq-answer.open {
  max-height: 200px;
  opacity: 1;
  padding-top: 8px;
}

.p-l-toggle-button img.rotated {
  transform: rotate(180deg);
}
@media screen and (min-width: 1204px) {
  .p-l-faq-container {
    padding: 80px 160px;
    width: 1440px;

    margin: auto;
  }
  .p-l-faq-list {
    padding-top: 64px;
  }

  .p-l-faq-question {
    font-family: Lato;
    font-weight: 600;
    font-style: SemiBold;
    font-size: 20px;
    leading-trim: NONE;
    line-height: 150%;
    letter-spacing: 0%;
  }

  .p-l-faq-answer {
    font-family: Lato;
    font-weight: 400;
    font-style: Regular;
    font-size: 18px;
    leading-trim: NONE;
    line-height: 150%;
    letter-spacing: 0%;
  }
}
.p-l-policy-terms-container {
  padding: 120px 16px 40px;
  width: 375px;
  margin: auto;
  color: #1a1410;
  font-family: Lato;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;
}

.p-l-policy-terms-container h1 {
  margin-bottom: 20px;
  font-family: Cinzel Decorative;
  font-weight: 700;
  font-style: Bold;
  font-size: 40px;
  leading-trim: NONE;
  line-height: 120%;
  letter-spacing: 0%;
}
.p-l-policy-terms-container h2 {
  margin: 20px 0;
  font-family: Lato;
  font-weight: 700;
  font-style: Bold;
  font-size: 24px;
  leading-trim: NONE;
  line-height: 130%;
  letter-spacing: 0%;
}
.p-l-policy-terms-container h3 {
  margin: 20px 0 20px;
  font-family: Lato;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 18px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;
}
.p-l-policy-terms-container ul {
  list-style-type: disc;
  margin-left: 20px;
}
.p-l-policy-terms-container a {
  text-decoration: none;
  color: #222222;
}

@media screen and (min-width: 1204px) {
  .p-l-policy-terms-container {
    padding: 140px 160px 80px;
    width: 1440px;
    font-family: Lato;
    font-weight: 400;
    font-style: Regular;
    font-size: 18px;
    leading-trim: NONE;
    line-height: 150%;
    letter-spacing: 0%;
  }
  .p-l-policy-terms-container h1 {
    font-family: Cinzel Decorative;
    font-weight: 700;
    font-style: Bold;
    font-size: 52px;
    leading-trim: NONE;
    line-height: 120%;
    letter-spacing: 0%;
  }
  .p-l-policy-terms-container h2 {
    font-family: Lato;
    font-weight: 700;
    font-style: Bold;
    font-size: 28px;
    leading-trim: NONE;
    line-height: 130%;
    letter-spacing: 0%;
  }
  .p-l-policy-terms-container h3 {
    font-family: Lato;
    font-weight: 700;
    font-style: Bold;
    font-size: 28px;
    leading-trim: NONE;
    line-height: 130%;
    letter-spacing: 0%;
  }
}

.p-l-footer-container {
  width: 375px;
  padding: 40px 16px 16px;
  margin: auto;
  display: flex;
  flex-direction: column;
  color: #c8a96e;
  gap: 40px;
}

.p-l-footer-wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.p-l-footer-text {
  text-decoration: none;
  color: inherit;
  font-family: Lato;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;
}

.p-l-footer-copyright {
  font-family: Lato;
  font-weight: 400;
  font-style: Regular;
  font-size: 11px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;
}

@media screen and (min-width: 1204px) {
  .p-l-footer-container {
    width: 1440px;
    padding: 40px 160px 16px;
    gap: 40px;
  }

  .p-l-footer-text {
    font-family: Lato;
    font-weight: 400;
    font-style: Regular;
    font-size: 18px;
    leading-trim: NONE;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: center;
  }

  .p-l-footer-copyright {
    font-family: Lato;
    font-weight: 400;
    font-style: Regular;
    font-size: 12px;
    leading-trim: NONE;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: center;
  }
}
